<%= render 'layouts/messages' %>
<div id="errors" class="container">
  <%= render "users/shared/error_messages", resource: @product %>
</div>
<div class="container mt-5">
  <%= form_for [:admins,@product] , html: { multipart: true },remote: true ,authenticity_token: true do |f| %>
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <label>Hình Ảnh</label>
      <div class="image-upload">
        <label for="file-input">
          <div class="changeavt">
            <i class="fa fa-image"></i>
            <%= image_tag @product.image.attached? == false ? "" : @product.image,class: "img",id: "a" %>
          </div>
        </label>
        <%= f.file_field :image, id:"file-input",accept: 'image/jpeg,image/png' %>
      </div>
      <label>Tên Sản Phẩm</label>
      <%= f.text_field :name, class: 'form-control mb-1',placeholder: "nhập tên sản phẩm",minlength:"3" ,required:"required"%>
      <label>Thương hiệu và loại sản phẩm</label>
      <select name="product[brand_category_id]" id="product_brand_category" class="abcd" style="width:100%">
        <option selected='true' value=<%= @product.new_record? == true ? '' : @product.brand_category_id.to_s %> > <%= @product.new_record? == true ? 'Chọn' :  @product.brand_category.brand.name.to_s+" - Category:"+  @product.brand_category.category.name.to_s %> </option>
        <% BrandCategory.all.each do |item| %>
        <option value=<%= item.id %> > <%= "Brand: "+item.brand.name.to_s+" - Category:"+ item.category.name.to_s %> </option>
        <% end %>
      </select>

    </div>
    <div class="col-lg-4 option">
      <h3>Tùy chọn</h3>
      <%= f.fields_for :options do |option| %>
      <%= render 'option_fields', f: option %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'Thêm tùy chọn cho sản phẩm', f, :options, class: "btn btn-primary mt-3" %>
      </div>
    </div>
  </div>
  <br>
  <%= f.submit  @product.new_record? == true ? 'Tạo' : 'Cập nhật' , class: 'btn btn-success btn-block' %>
  <% end %>
</div>
<script type="text/javascript">
$(document).ready(function() {
$(function() {
$('#user_phone').on('input', function() {
this.value = this.value.replace(/[^\d]/g, '');
});
$('#user_firstname').on('input', function() {
this.value = this.value.replace(/[^A-Z\zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ\ ]/ig, '');
});
$('#user_lastname').on('input', function() {
this.value = this.value.replace(/[^A-Z\zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ\ ]/ig, '');
});
$('#user_address').on('input', function() {
this.value = this.value.replace(/[^A-Z0-9\,\s\/\zàáạảãâầấậẩẫăằắặẳẵèéẹẻẽêềếệểễìíịỉĩòóọỏõôồốộổỗơờớợởỡùúụủũưừứựửữỳýỵỷỹđ\ ]|/ig, '');
});
$('#user_email').on('input', function() {
this.value = this.value.replace(/[^a-zA-Z0-9\@\.]|\s/ig, '');
});
});

if($('#a').attr('src') != "")
{
  $( "i" ).remove( ".fa-image" );
}

$('#file-input').change(function() {
if (this.files && this.files[0]) {
var reader = new FileReader();
reader.onload = function(e) {
// localStorage.setItem('file',e.target.result);
$('#a').attr('src', e.target.result);
}
reader.readAsDataURL(this.files[0]);
  $( "i" ).remove( ".fa-image" );
}
});
function checkTypeimg(type) {
switch (type) {
case "image/png":
return true;
break;
case "image/jpeg":
return true;
break;
default:
return false
break;
}
}
})

$(function () {
  $("select").select2();
});

</script>

