<div class="header">
	<h2 class="logo">
	Drug Manager 
	</h2>
	<input type="checkbox" id="chk">
	<label for="chk" class="show-menu-btn">
		<i class="fa fa-ellipsis-h"></i>
	</label>
	<ul class="menu">
		<%= link_to "Trang Chủ",admins_path  %>
		<%= link_to "Thương Hiệu",admins_brands_path  %>
		<%= link_to "Loại Thuốc",admins_categories_path  %>
		<%= link_to "Sản Phẩm",admins_products_path  %>
		<a href="">Giao Hàng(built in funture)</a>
		<%= link_to('Logout', destroy_user_session_path, method: :delete) %></span>
		<label for="chk" class="hide-menu-btn">
			<i class="fa fa-times"></i>
		</label>
	</ul>
</div>
